<!-- The main page of playlister -->
<!DOCTYPE html>
<html>
  <head>
    <title>Playlister 2</title>
  </head>
  <body>
    <h1>Playlister 2</h1>
    <ul>
      <li><ahref="artists/index.html">Artists</a></li>
      <li><ahref="genres/index.html">Genres</a></li>
      <li><ahref="songs/index.html">Songs</a></li>
    </ul>
  </body>
</html>